{% extends 'base.html' %}

{% block content %}
 <h2>{% block title %} Aluno {% endblock %}</h2>
    <h4> <a href="{{ url_for('create_aluno')}}">
            <span class="badge badge-warning">Criar</span>
            </a>
    </h4>
    {% for post in alunos %}
        <a href="{{ url_for('post_aluno', post_alunoid=post['idaluno']) }}">
            <h4>{{ post['nome'] }}</h4>
        </a>

        <a href="{{ url_for('edit_aluno', id=post['idaluno']) }}">
            <span class="badge badge-warning">Alterar</span>
        </a>
        <hr>
    {% endfor %}
{% endblock %}
